body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.link {
  border-top: 2px solid #000;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navButton {
  display: inline-block;
  color: #000;
  text-decoration: none;
  border-width: 1px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  min-width: 70px;
  border: 2px inset #1C6EA4;
}
.navButton:hover {background-color: #1C6EA4}

.navButton:active {
  background-color: #1C6EA4;
}

li {
  display: inline-block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border: 50px;
  border-width: 1px;
  border-radius: 5px;
  text-align: left;
  left:17%;
  max-width: 80%;
   min-width: 80%;
  position: relative;
}

a {
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 3px 3px 15px 5px #000000;
  display: inline-block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border-width: 1px;
  border: 2px inset #1C6EA4;
  border-radius: 5px;
  text-align: center;
  height: 160px;
  width:70%;
}



#nav ul {
  margin: 0;
  vertical-align: middle;
  line-height: 70px;
}

.header {
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: underline solid rgb(35, 111, 182);
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
    background:orange url('./images/news-image.jpg');
    color: rgb(196, 106, 22);
    font-Size: 40px;
    text-Align: center;
    padding: 30px;
    font-weight: bold;

}

span + span {
  margin-left: 10px;
}



.ulArticles{
  display: inline-block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border-width: 1px;
  border-style: inset;
  border: 2px solid rgb(202, 115, 15) ;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top:10px;
  text-align: center;
  margin: auto;
  max-width: 630px; 
}

.border  {
  border-top: 2px solid orange;
}

.eachComment{
  display:block;
  background-color: rgb(202, 203, 207);
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border-width: 1px;
  border-style: inset;
  border: 2px solid rgb(2, 2, 2) ;
  border-radius: 5px;
  margin-top:0px;
  margin-bottom: 0px;
}

.commentBody {
  display:block;
  color: #000;
  padding: 8px 16px;

  border: 2px solid rgb(0, 0, 0) ;
  
 
}

.deleteCommentButton {
  display:block;
  color: #000;
  padding: 8px 16px;
  background:rgb(28, 151, 192);

  border: 2px solid rgb(0, 0, 0) ;
  
 
}

.deleteCommentButton:hover {background-color: red}

.deleteCommentButton:active {
  background-color: red;
}

.input {
  border-radius: 5px;
  border:1px solid black;
}

.user {
  background: rgb(28, 151, 192);
  border-radius: 5px;
  color:black;
  font-size: 10px;
  text-align: right;
  padding: 5px;
  padding-top: 5px;
  display: inline-block;
}

.button1 {
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 2px solid rgb(216, 164, 109);
}

.button2 {
  background-color: #008CBA;
  border-radius: 5px
}
.button2:hover {background-color: red}

.button2:active {
  background-color: red;
}


.button3 {
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 2px solid rgb(216, 164, 109);
  float:right;
  right:5%;
  font-size: 20px;
}


  .form  {
    background-color: white;
    border-bottom: 3px solid orange;
    border-top: 3px solid orange;
    background-color:#D3D3D3;
    color:black;
    font-size: 18px;
    text-align: right;
    padding:30px;
    padding-top: 5px;
    
  }



.liTopics {
  float: left
}

.liHome {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  float:left;
  display: flex;
  
  
}

/* Change the link color on hover */
li a:hover {
  background-color: rgb(40, 129, 189);
  color: white;
}

/* .ulTopics {
  border: #000;
  border-width: 1px;
  border-color: blue;
  border-style: inset;
  border: 2px solid red;
  border-radius: 5px;
  
  /* border-Style: inset;
  border-Color: coral;
  padding: 5px; */

